:host {
  display: block;
}

.message {
  color: var(--ki-text-base);
  background: var(--ki-surface-base);
  font-family: var(--ki-typography-family-base);
  font-size: var(--ki-typography-size-body);
  padding-block: var(--ki-spacing-block);
  padding-inline: var(--ki-spacing-inline);
  border-radius: var(--ki-corner-control);
  margin-block: 0;
}
